@import "sass/themes/pink_palm_tree";
@import "sass/global";

body {
  text-align: center;
  margin: 0;
  background-color: $background-color;
  font-family: $base-font-family;
}

code {
}

@import "sass/submit";
